.error-msg {
	color: red;
}

.success-msg {
	color: green;
}

img {
	display: block;
	margin: 0 auto;
}
body {
	background-color: white;
}
.ControlData {
	text-align: center;
}
.controlAuthWrapper,
.controlDataWrapper {
	background-color: white;
}
